 *{

	margin-top:0px;
	margin-bottom: 0px;
	font-family: all;
	
	color:white;
}
html{
	background-color: #371b1d;
}

/*
	margin-left:0px;

	margin-right:0px;

	margin-bottom: 0px;

	padding:0px;

	font-family:serif;	


*/
#barralateral{
	background-color: #6e3639;
	float: right;
	height: 30%;
	margin-top: 3%;

	width: 20%;

	margin-left: 5%;
	margin-bottom: 10%;
	display: block;

	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}
#header{
	margin: 0px auto;
	width: 350px;
 }
#navegacion{
 margin-bottom: 5%;
}
#sectionindex{
	margin-top: 10px;
	margin-right: 20%;
	margin-bottom: 15%;

	padding-right: 100px;
	padding-top: 15px;

}
#footer{
	clear: both;
	background-color: #6e3639;
	height: 70px;
	margin-bottom: 0px;
	margin-top: 10px;
}
li{

	display: inline;
	font-size: 20px;
	text-align: center;
	padding-left: 10%;
	font-family: serif;
}


/* imageness---------------------------*/
#logo{
	height: 150px;
	width: 350px;
}
#team{ 
height: 150px; 
width: 200px;
}

/* divs---------------------------*/
#enter_here{
	width: 65px;
	height: 25px;
	margin-left: 15px;
	background-image: url(learn_more.png);
}
/* text---------------------------*/


#texto2{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 15px;

}